<h2 class="text-center my-5">{{isEditing? 'Edit' : 'Create'}} Employee</h2>

@if (errorMessage) {
  <div class="text-danger text-center">
    {{errorMessage}}
  </div>
} @else {
  <form #employeeForm="ngForm" (ngSubmit)="onSubmit()" class="border rounded p-5 w-50 mb-5 mx-auto">

    <div class="mb-3">
      <label class="form-label">First Name*</label>
      <input required #firstName="ngModel" class="form-control" type="text" name="firstName" [(ngModel)]="employee.firstName"/>

      @if (firstName.invalid && (firstName.touched || firstName.dirty) && firstName.errors?.['required']) {
        <div class="text-danger">First name is required</div>
      }


    </div>
    <div class="mb-3">
      <label class="form-label">Last Name*</label>
      <input required #lastName="ngModel" class="form-control" type="text" name="lastName" [(ngModel)]="employee.lastName"/>

      @if (lastName.invalid && (lastName.touched || lastName.dirty) && lastName.errors?.['required']) {
        <div class="text-danger">Last name is required</div>
      }


    </div>
    <div class="mb-3">
      <label class="form-label">Phone*</label>
      <input required #phone="ngModel" class="form-control" type="tel" name="phone" [(ngModel)]="employee.phone"/>

      @if (phone.invalid && (phone.touched || phone.dirty)) {
        @if (phone.errors?.['required']) {
          <div class="text-danger">Phone is required</div>
        }
      }


    </div>
    <div class="mb-3">
      <label class="form-label">Email*</label>
      <input required email #email="ngModel" class="form-control" type="email" name="email" [(ngModel)]="employee.email"/>

      @if (email.invalid && (email.touched || email.dirty)) {
        @if (email.errors?.['required']) {
          <div class="text-danger">Email is required</div>
        }
        @if (email.errors?.['email']) {
          <div class="text-danger">Email must be valid</div>
        }
      }


    </div>
    <div class="mb-3">
      <label class="form-label">Position*</label>
      <input required #position="ngModel" class="form-control" type="text" name="position" [(ngModel)]="employee.position"/>

      @if (position.invalid && (position.touched || position.dirty) && position.errors?.['required']) {
        <div class="text-danger">Position is required</div>
      }


    </div>

    <button class="btn btn-primary" type="submit" [disabled]="employeeForm.invalid">{{isEditing? 'Edit' : ' Create'}}</button>
  </form>
}
